<header class="c-header">
  <div class="o-canvas">

    <div class="c-header__wrap">
      <figure class="c-header__brand">
        <img src="assets/image/logo_color.svg" alt="" class="o-img">
      </figure>

      <div class="c-header__search">
        <input type="text" class="c-header__search-input" placeholder="Buscar por producto">
        <label class="c-header__search-label i-search" for=""></label>
      </div>

      <span class="c-header__car">
        <i class="i-car"></i>
      </span>
    </div>

  </div>
</header>
