<header class="c-header">
  <div class="o-canvas">

    <div class="c-header__wrap">
      <figure class="c-header__brand">
        <img src="assets/image/logo_color.svg" alt="" class="o-img">
      </figure>

      <form
        class="c-header__search js-search-header"
        [ngClass]="{'is-none-car': productsIsNull, '': !productsIsNull}"
      >
        <input type="text" class="c-header__search-input js-input-search" placeholder="Buscar por producto">
        <label class="c-header__search-label i-search" for=""></label>
      </form>

      <span
        class="c-header__car js-ico-car"
        [ngClass]="{'test': productsIsNull, '': !productsIsNull}"
        [routerLink]="['/car']"
      >
        <i class="i-car"></i>
        <span class="c-header__car-number js-text-ico-car">{{ numberProductsCar }}</span>
      </span>
    </div>

  </div>
</header>
