.o-cashback {
  min-width: 144px;
  text-align: right;

  .o-link {
    font-size: 14px;
  }
}

.o-cashback-bigger,
.o-cashback__box {
  color: $c-success;
  background-color: rgba($color: $c-success, $alpha: 0.1);
}

.o-cashback-bigger {
  padding: 8px 12px;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.o-cashback-bigger__header {
  display: flex;
  align-items: center;

  &::before {
    margin-right: 16px;
    font-size: 32px;
  }
}

.o-cashback-bigger__title {
  font-family: $f-title;
  font-weight: $f-bold;
  font-size: 18px;
}

.o-cashback__box {
  margin-bottom: 8px;
  border-radius: 8px;
  padding: 9px 20px;
  text-align: left;
}

.o-cashback__value {
  margin-top: 4px;
  font-weight: $f-bold;
  font-family: $f-title;
  font-size: 24px;
}
