.o-section {
  margin: 16px 0;

  &_mt0 {
    margin-top: 0;
  }

  &_mb0 {
    margin-bottom: 0;
  }
}

.o-canvas {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
}

.o-background-bottom {
  height: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: $c-neutro;
  --background: initial;
}
