.o-section {
  padding: 24px 0;
}

.o-canvas {
  width: 90%;
  max-width: 340px;
  margin: 0 auto;
}

.o-background-bottom {
  height: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: $c-neutro;
  --background: initial;
}
