<ion-content>

  <!-- Header back -->
  <app-header-back></app-header-back>

  <div class="o-canvas">

    <ul class="c-steps">
      <li class="c-steps__step is-checked">
        <i class="i-car"></i>
        <span>Carrito</span>
      </li>
      <li class="c-steps__step is-current">
        <i class="i-send"></i>
        <span>Entrega</span>
      </li>
      <li class="c-steps__step">
        <i class="i-cash"></i>
        <span>Pago</span>
      </li>
    </ul>

    <!-- DIRECCION -->
    <div [ngClass]="{'test': !groupAddres, '': groupAddres}">

      <div class="c-card-address-box">
        <h4 class="o-title o-title_light">Dirección de Entrega</h4>

        <ul class="c-card-address-list">
          <li class="c-card-address">
            <p class="c-card-address__text c-card-address__text_top">{{ addressData.userCurrent }}</p>
            <p class="c-card-address__text">{{ addressData.address }}</p>
            <p class="c-card-address__text">{{ addressData.phone }}</p>
          </li>
        </ul>
      </div>

      <div>
        <h4 class="o-title o-title_light">Llegada estimada</h4>

        <ul class="c-card-address-list">
          <li class="c-card-address c-card-address_light">

            <div class="c-card-address__header">
              <div>
                <p class="c-card-address__text c-card-address__text_top">El {{ formatDate }}</p>
              </div>
              <span class="c-card-address__free">GRATIS</span>
            </div>
            
            <p class="c-card-address__delivery">
              <i class="i-credential"></i>
              <span>
                <span class="c-card-address__delivery-text">Envio Estándar</span>
                <span class="c-card-address__delivery-text">08:00 - 17:00</span>
              </span>
            </p>

          </li>
        </ul>
      </div>

      <button
        class="c-cashback-box__btn o-button"
        (click)="showPaymentStep()"
      >
        Revisar y Confirmar
      </button>
    </div>

    <!-- PAGO -->
    <div [ngClass]="{'test': !groupPago, '': groupPago}">

      <div class="c-card-address-box">
        <h4 class="o-title o-title_light">Método de Pago</h4>

        <div class="c-cashback-box">

          <header class="c-cashback-box__header">
            <h4 class="c-cashback-box__title">EFECTIVO</h4>
          </header> 
    
        </div>

      </div>

      <div class="c-card-address-box">
        <h4 class="o-title o-title_light">Resumen del pedido</h4>

        <div class="c-cashback-box">

          <div class="c-card-address c-card-address_light">

            <div class="c-card-address__header">
              <div>
                <p class="c-card-address__text c-card-address__text_top">
                  <span>PRECIO ORIGINAL:</span> ${{ detailData.subtotal }} COP
                </p>
                <p class="c-card-address__text c-card-address__text_top">
                  <span>DESCUENTO CASHBACK:</span> $ {{ detailData.cashback }} COP
                </p>
                <p class="c-card-address__text c-card-address__text_top">
                  <span>{{ detailData.productsLength }} PRODUCTOS:</span> $ {{ detailData.total }} COP
                </p>
                <p class="c-card-address__text c-card-address__text_top">
                  <span>ENTREGA:</span> GRATIS
                </p>
              </div>

            </div>

          </div>
    
        </div>

      </div>

      <button
        class="c-cashback-box__btn o-button"
        (click)="sendOrder()"
      >
        Hacer pedido
      </button>

    </div>

  </div>

</ion-content>
